@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-batchComplete-button.fc-button::before {
  content: "✔";
  margin-right: 5px;
}

.fc-batchComplete-button.fc-button {
  background-color: #0e7490 !important;
  border-color: #0e7490 !important;
  color: #fff !important;
}
.fc-batchComplete-button.fc-button:hover {
  background-color: #0c6179 !important;
  border-color: #0c6179 !important;
}

.rbc-allday-cell,
.rbc-allday-events {
  display: none !important;
}

.rbc-current-time-indicator {
  background-color: blue !important;
}



